 body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    
 }
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.navbar ul{
    /* background-color: rgb(208, 208, 208); */
    width: 100%;
    height: 50%;
    color: whitesmoke;
    overflow: hidden;
    padding-right: 5px ;
    background: rgb(94, 126, 177);
    background-image: linear-gradient(74deg,#4568dc,#b06ab3);
    
  
  

}
.name {
    background-color: rgb(208, 208, 208);
    display: block;
    color: rgb(175, 169, 169);
    float: left;


}


.navbar  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    /* text-align: center; */
    padding-left: 5px ;

    
}



.navbar a:hover{
    font-weight: bolder;
    transition: font-weight 0.3s ease;

}
.navbar li{
    float: right;

}
main{
    background: rgb(48,80,133);
    background: linear-gradient(90deg, rgba(48,80,133,1) 0%, rgba(170,137,220,1) 65%, rgba(168,183,254,1) 100%);
}

/* box */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background: rgb(48,80,133);
    background: linear-gradient(90deg, rgba(48,80,133,1) 0%, rgba(170,137,220,1) 65%, rgba(168,183,254,1) 100%);
}


.page1_name{
  
   
    width: 750px;
    height: 750px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.page1_intro{
    width: 750px;
    height: 750px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.img{
     width: 600px;
     height: 600px;
     align-items: center;
     border-radius: 50%;

    }


 p{
    text-decoration: wavy;
    font-size: larger;
    color: rgb(255, 255, 255);
    size: 30px;
    font-style: italic;

 }
 .introname{
    font-size: 260%;
 }
 .introname p:hover{
           font-weight: bold;
           transition: font-weight  0.3s ease-in;
 }

 .project_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
     align-content: center;
     font-weight: bolder;
     font-size: 45px;
 }

 .page2{
     /* display: flex; */
     background-color: whitesmoke;
 }


 .project_box1{

  
 }



 .project1{
    height: 50vh;
    width: 50%;
    
 }
 .sub_heading{
    color: black;
 }

 .doctorsite_info{
    color: black;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .notice{
    color: black;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }


 .project2{
    height: 50vh;
    width: 50%;
    
 }
 .sub_heading2{
    color: black;
 }

 .brainflix_info{
    color: black;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .notice2{
    color: black;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }



 




@media screen and (max-width: 600px){
    main , div{
        width: 100px;
    }
}





    






